{{ partial "header" . }}
<div class="intro">
		<h1> <p style="margin: 50px"; align="middle">Data Science Story Telling with R</p> <h1>
        <div><img class="center-image" src="images/klikR_logo.png" width="50%"/></div>
       
        <h3> <p align="middle">15 September 2018, 12:00 - 16:00</p> <h3>
        <h3> <p align="middle"> @ <a href=https://startit.rs>Startit</a></p> <h3>
        <h3> <p align="middle">Belgrade, Serbia</p> <h3>
        
        <h2><p style="margin: 20px"; padding: 20px; align="justify"> Klik-R is an initiative designed to introduce and make accessible the state of the art world of data science and is a key component of the <a href=https://datateka.com>DataTeka</a> portfolio. 
        The  Klik-R workshop focusses on developing an understanding of the story telling role of data science. We do this by introducing open data sources to students and facilitating the understanding of complex data in an uncomplicated manner by highlighting the hidden storylines within data. 
        <br><br> In this workshop, we will use R language to turn statistics within the data into a story that people can understand and use to solve problems that are of concern to them or project ideas that are potentially life changing. Why R? Because R is the most sophisticated data analysis programming language, 
        quickly becoming the tool of choice for many data scientists, as it enables easy experimentation and exploration of data, reflecting and mirroring the way in which you consider a particular problem. 
        R amalgamates the learning of important and desirable skills of XXI century kids: code writing for statistical modelling and visualisation and data reporting in a reproducible manner. 
        Through a series of demonstrations and hands on exercises you will learn some of the fundamental concepts of R and you will get to know how to use the tools needed in a typical data science project. You will be introduced to graphical and numerical techniques for exploring the information concealed within a dataset. 
        After you develop an understanding of your data you will use R’s reproducible and interactive approach to knit this into a tight and concise narrative and of course, present your story by creating reproducible R-Markdown documents and Shiny Web Apps. 
        <br><br>Workshop delivery will be in English and Serbian!
        <br><br>The instructor is Dr. Tatjana Kecojević who is a longtime R user with a doctorate in Statistics from the University of Manchester. 
        She has spent many years working in U.K. higher education as a Senior Lecturer and has a comprehensive research record in area of quantile regression. 
        She is a cofounder of <a href=https://datateka.com>DataTeka</a> a company dedicated to helping people better understand and make sense of their data through insightful training strategies. 
        She is a founder and co-organiser of <a href=https://rladies.org>R-Ladies</a> Manchester and Belgrade chapters and a team leader in the <a href=https://forwards.github.io>R Forwards</a> taskforce that aim to widen the participation of women and other under-represented groups in the R Community and wider Data Science field. 
        Her interests lie in the field of statistical modelling, statistical computing, statistical computer education and everything related to #rstats. More about Tatjana and what she does can be found at the website: <a href=https://tanjakec.github.io>tanjakec.github.io</a>
        <br><br>
        <b>If you are aged between 13 - 18 years with a good imagination and a desire to learn, come and join us. We will practise together. Practice makes perfect.</b>
		<br><br><b>What you need to bring:</b> Your curiosity and a laptop with the latest versions of <a href=https://cran.r-project.org>R</a> and <a href=https://www.rstudio.com/products/rstudio/download/>RStudio</a> installed.</p>
		<br><b>To book your place email us at <i class="fa fa-envelope-open" aria-hidden="true"></i><a href="mailto:klikrrr@gmail.com">klik-R</a>.</b><h2>
</div>


{{ partial "footer" . }}

